In [21]:
import pandas as pd
import numpy as np
import scipy.sparse
from pandas._libs import lib, algos as libalgos

In [2]:
exp_ratings = pd.read_csv('../data/explicit_ratings.csv')

In [3]:
exp_ratings.drop(columns='Unnamed: 0', inplace=True)

In [4]:
exp_ratings.head()

,isbn,book_title,book_author,year_of_publication,publisher,user_id,book_rating
0,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,67544,8
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,116866,9
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,123629,9

In [5]:
exp_ratings.shape

(224114, 7)

In [6]:
# empty_array = np.zeros_like(exp_ratings, dtype=float)

# empty_array.fill(np.nan)

# empty_array

In [7]:
npz_ratings = scipy.sparse.load_npz('../ratings_scaled_coo.npz')

In [8]:
sdf_ratings = pd.SparseDataFrame(npz_ratings)

In [9]:
sdf_ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,51752,51753,51754,51755,51756,51757,51758,51759,51760,51761
0,NaN,0.271348,0.866025,0.861727,NaN,1.0,0.559017,0.215666,-1.499113,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.215666,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sdf_ratings_array = np.asarray(sdf_ratings)

In [12]:
corr_matrix = np.corrcoef(sdf_ratings_array)

In [14]:
corr_matrix.shape

(18263, 18263)

In [ ]:
libalgos.nancorr(sdf_ratings_array)