In [2]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/4d/fc/cd4210b247d1dca421c25994740cbbf03c5e980e31881f10eaddf45fdab0/scikit-surprise-1.0.6.tar.gz (3.3MB)
    100% |████████████████████████████████| 3.3MB 1.0MB/s
Collecting joblib>=0.11 (from scikit-surprise)
  Downloading https://files.pythonhosted.org/packages/49/d9/4ea194a4c1d0148f9446054b9135f47218c23ccc6f649aeb09fab4c0925c/joblib-0.13.1-py2.py3-none-any.whl (278kB)
    100% |████████████████████████████████| 286kB 2.6MB/s
Requirement already satisfied: numpy>=1.11.2 in /opt/conda/lib/python3.6/site-packages (from scikit-surprise) (1.13.3)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.6/site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.6/site-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Running setup.py bdist_wheel for scikit-surprise ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/ec/c0/55/3a28eab06b53c220015063ebbdb81213cd3dcbb72c088251ec
Successfully built scikit-surprise
Installing collected packages: joblib, scikit-surprise
Successfully installed joblib-0.13.1 scikit-surprise-1.0.6

In [2]:
import pandas as pd
import numpy as np
# from surprise import Reader, Dataset, SVD, evaluate, NMF
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics import pairwise_distances
from sklearn.preprocessing import StandardScaler
import sqlite3

In [3]:
ratings_and_books = pd.read_csv('../data/ratings_and_books.csv')

In [4]:
ratings_and_books.drop(columns='Unnamed: 0', inplace=True)

In [5]:
ratings_and_books.head()

,book_author,book_title,isbn,publisher,year_of_publication,book_rating,user_id
0,Richard Bruce Wright,Clara Callan,0002005018,HarperFlamingo Canada,2001,5,8
1,Richard Bruce Wright,Clara Callan,0002005018,HarperFlamingo Canada,2001,0,11400
2,Richard Bruce Wright,Clara Callan,0002005018,HarperFlamingo Canada,2001,8,11676
3,Richard Bruce Wright,Clara Callan,0002005018,HarperFlamingo Canada,2001,0,41385
4,Richard Bruce Wright,Clara Callan,0002005018,HarperFlamingo Canada,2001,8,67544

In [7]:
len(ratings_and_books[ratings_and_books['book_rating'] == 0])

498217

In [8]:
len(ratings_and_books[ratings_and_books['book_rating'] != 0])

290428

In [9]:
explicit_ratings = pd.read_csv('../data/explicit_ratings.csv')

In [11]:
explicit_ratings.drop(columns='Unnamed: 0', inplace=True)

In [14]:
explicit_ratings['book_rating'].value_counts().sort_index()

1      1059
2      1783
3      3879
4      5729
5     31418
6     24076
7     50986
8     71531
9     47702
10    52265
Name: book_rating, dtype: int64

## Surprise

In [9]:
# reader = Reader(rating_scale=(0, 10))

In [11]:
# ratings_data = Dataset.load_from_df(ratings_and_books[['user_id', 'isbn', 'book_rating']], reader)

In [16]:
# ratings_data.split()

In [18]:
# algo = SVD()
# evaluate(algo, ratings_data, measures=['rmse'])

## SVD

In [ ]:
explicit_book_ratings = explicit_ratings.pivot_table(values='book_rating',
                                            index='user_id',
                                            columns='book_title').fillna(0)